body{
margin:0;
padding:0;
background:url('../img/bg.jpg');	 
color:white;
}
.header {

background:black;
}
.menu{
display:flex;
width:100%;
text-align:center;
margin:0 auto;
flex-dirrection: row;
font-weight:bold;
}
.menu a{
flex:1;
font-size:mpx;
text-align: center;
padding: 10px;
color:white;
background: black; 
text-decoration:none;
}
.menu a:hover {
background:gray;
color:black;
}	
.logotext{
color:white;
font-size:130%;
font-family:arial;
text-shadow:1px 1px 1px gray;
float:center;
padding:5px;
margin:0;
text-align:center; 
line-height:1.3em;
}
.logo{
float:left;
padding:5px;
position:relative;
left:60px;
}
.footer{
background:black;
}
.indextext{
color:white;
font-size:medium;
font-style:italic;
font-family:arial;
text-shadow:1px 1px 1px gray;
line-height: 130%;
float:center;
padding:5px;
margin:0;
text-indent: 20px;
}
.capturetext{
color:red;
text-align:center;
font-size:150%;
font-family:arial;
text-shadow:1px 1px 1px gray;
line-height: 130%;
float:center;
padding:5px;
margin:0;	
}
@media screen and (max-width:600px){
.menu{
flex-dirrection:column;
}
logo{
display:none;
}
}
.modal_window{
position: fixed;
top: 50px;
left: 50%;
margin-left: -300px;
width: 600px;
padding: 10px;
background: white;
border-radius: 5px;
border: solid 1px gold;
box-shadow: 1px 1px 1px black;
color: black;
}
.overlay{
position: fixed;
height: 100%;
width:100%; 
background: black;
opacity: 0.7;
top: 0px;
left: 0px;
}
.modal-close-btn{
position: absolute;//тк позиция модального окна fixed
top: 0;
right: 10px;
margin: 0;
padding: 0;
text-decoration: none;
color: black;
font-size: 14px;
}
.modal-close-btn:before{
position: relative;
top: -1px;
content: "Close ";
text-transform: uppercase;
font-size: 10px;
}
